Jinja2==2.10.1
Twisted==19.7.0
Werkzeug==0.15.6
argparse==1.4.0
cffi==1.12.3
characteristic==14.3.0
cryptography==2.7
klein==19.6.0
lxml==4.4.1
pyOpenSSL==19.0.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
service-identity==18.1.0
six==1.12.0
zope.interface==4.6.0
python-dateutil==2.8.0
MarkupSafe==1.1.1
idna==2.8
ipaddress==1.0.22
requests==2.22.0
PyYAML==5.1.2
treq==18.6.0
autobahn==19.9.3
txaio==18.8.1
